import { Router, Routes, appClientContext } from "@darksoil-studio/holochain-elements";
import { AsyncResult, SignalWatcher } from "@darksoil-studio/holochain-signals";
import { LitElement, css, html } from "lit";
import { customElement } from "lit/decorators.js";
import { EntryRecord } from "@darksoil-studio/holochain-utils";
import { consume } from "@lit/context";
import { msg } from "@lit/localize";
import { AppClient, encodeHashToBase64, decodeHashFromBase64 } from "@holochain/client";

import '@darksoil-studio/holochain-elements/dist/elements/display-error.js';
import '@darksoil-studio/profiles-provider/dist/elements/agent-avatar.js';

import './overlay-page.js';
import { appStyles } from './app-styles.js';

@customElement("home-page")
export class HomePage extends SignalWatcher(LitElement) {

  @consume({ context: appClientContext })
  client!: AppClient;

  router = new Router(this, [
    {
      path: "/",
      render: () => html`
        <div class="column" style="flex: 1; align-items: center; justify-content: center;">
          <span>TODO: replace this with the content of your app.</span>
          <span>Maybe you want to import elements from one of the zome modules?</span>
        </div>
      `
    },
    {
      path: "/my-profile",
      render: () => html`<overlay-page
          .title=${msg("My Profile")}
          icon="back"
          @close-requested=${() => this.router.goto('/')}
        >
          <sl-card>
            <my-profile style="flex: 1"></my-profile>
          </sl-card>
        </overlay-page>`,
    },
  ]);

  render() {
    return html`
      <div class="column" style="flex: 1">
        <div class="row top-bar">
          <span class="title" style="flex: 1">${msg("{{title_case app_name}}")}</span>

          <div class="row" style="gap: 16px">
            <agent-avatar 
              @click=${() => this.router.goto('/my-profile')}
              .agentPubKey=${this.client.myPubKey}
            ></agent-avatar>
          </div>
        </div>

        ${this.router.outlet()}
      </div>
    `;
  }

  static styles = [
    css`
      :host {
        display: flex;
        flex: 1;
      }

    `,
    ...appStyles,
  ];
}
